/* css file for story editor */
body {
			   background-color: #f5f5f5;
			   margin: 0;
			   padding: 0;
			}
			.dashboard {
			   background-color: #5926db;
			   color: #fff;
			   padding: 20px;
			   text-align: center;
			}
			
			.dashboard_title {
			   font-size: 24px;
			   margin-top: 0;
			}
			
			.navigation {
			   text-align: center;
			   color: white;
			}

			.sampleWrapper {
				display: flex;
				flex-direction: column;
			}

			@media (min-width: 1280px) {
				.sampleWrapper {
					flex-direction: row;
				}
			}
        #myDiagramDIV {
            width: 60%;
            height: 400px;
            border: solid 1px black;
            float: left;
        }
        #myPaletteDIV {
            width: 10%;
            height: 400px;
            border: solid 1px black;
            float: left;
        }
        .form-container {
            clear: both;
            margin-bottom: 20px;
        }