<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
	    <title>Text Editor</title>
	    <meta charset="UTF-8">
	    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
		<link href="/styles.css" rel="stylesheet" />
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
		<link
	  		rel="stylesheet"
	  		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
	</head>
	
	<body>
		<h1>Writing App</h1>
		<form action="#" th:action="@{/editor}" th:object="${editor}" method="post">
       <!--  	<input type="hidden" id="userId" name="userId" th:field="*{userId}" /> <!-- hidden field for User ID -->

		<p>User Id: <span th:text="${userId}"></span></p>

			<p><label for="idea-editor">Idea:</label></p>
			<div id="idea-toolbar">
				<span class="ql-formats">
	    			<select class="ql-font"></select>
	    			<select class="ql-size"></select>
	  			</span>
	  			<span class="ql-formats">
	    			<button class="ql-bold"></button>
	    			<button class="ql-italic"></button>
	    			<button class="ql-underline"></button>
	    			<button class="ql-strike"></button>
	  			</span>
	  			<span class="ql-formats">
	    			<select class="ql-color"></select>
	    			<select class="ql-background"></select>
	  			</span>
	  			<span class="ql-formats">
	    			<button class="ql-script" value="sub"></button>
					<button class="ql-script" value="super"></button>
				</span>
	 			<span class="ql-formats">
					<button class="ql-header" value="1"></button>
					<button class="ql-header" value="2"></button>
					<button class="ql-blockquote"></button>
					<button class="ql-code-block"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-list" value="ordered"></button>
					<button class="ql-list" value="bullet"></button>
					<button class="ql-indent" value="-1"></button>
					<button class="ql-indent" value="+1"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-direction" value="rtl"></button>
					<select class="ql-align"></select>
				</span>
				<span class="ql-formats">
					<button class="ql-link"></button>
					<button class="ql-image"></button>
					<button class="ql-video"></button>
					<button class="ql-formula"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-clean"></button>
				</span>
			</div>
	
			<div id="idea-editor" style="height:200px;"></div>
	 		<input type="hidden" id="idea" name="idea" th:field="*{idea}" />
	
	
			<p><label for="summary-editor">Summary:</label></p>
			<div id="summary-toolbar">
				<span class="ql-formats">
	    			<select class="ql-font"></select>
	    			<select class="ql-size"></select>
	  			</span>
	  			<span class="ql-formats">
	    			<button class="ql-bold"></button>
	    			<button class="ql-italic"></button>
	    			<button class="ql-underline"></button>
	    			<button class="ql-strike"></button>
	  			</span>
	  			<span class="ql-formats">
	    			<select class="ql-color"></select>
	    			<select class="ql-background"></select>
	  			</span>
	  			<span class="ql-formats">
	    			<button class="ql-script" value="sub"></button>
					<button class="ql-script" value="super"></button>
				</span>
	 			<span class="ql-formats">
					<button class="ql-header" value="1"></button>
					<button class="ql-header" value="2"></button>
					<button class="ql-blockquote"></button>
					<button class="ql-code-block"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-list" value="ordered"></button>
					<button class="ql-list" value="bullet"></button>
					<button class="ql-indent" value="-1"></button>
					<button class="ql-indent" value="+1"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-direction" value="rtl"></button>
					<select class="ql-align"></select>
				</span>
				<span class="ql-formats">
					<button class="ql-link"></button>
					<button class="ql-image"></button>
					<button class="ql-video"></button>
					<button class="ql-formula"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-clean"></button>
				</span>
			</div>
		
			<div id="summary-editor" style="height:200px;"></div>
			<input type="hidden" id="summary" name="summary" th:field="*{summary}" />
	
	        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	
		</form>
	
		<!-- Initialize Quill editor -->
		<script>
		document.addEventListener('DOMContentLoaded', (event) => {
		    const ideaQuill = new Quill('#idea-editor', {
		    	modules: {
		        	syntax: true,
		        	toolbar: '#idea-toolbar',
		      	},
		    	placeholder: 'Write your ideas for character notes here...',
		    	theme: 'snow',
		    });
		
		    const summaryQuill = new Quill('#summary-editor', {
		    	modules: {
		        	syntax: true,
		        	toolbar: '#summary-toolbar',
		      	},
		    	placeholder: 'Write your story here...',
		    	theme: 'snow',
		    });
		
		    // Link Quill editor content to the hidden input fields
		    const form = document.querySelector('form');
		    form.onsubmit = function() {
		    	const ideaInput = document.querySelector('#idea');
		    	const summaryInput = document.querySelector('#summary');
		    	ideaInput.value = ideaQuill.root.innerHTML;
		    	summaryInput.value = summaryQuill.root.innerHTML;
		    };
	  });

		</script>
		  
	</body>
	
	<body>
<script src="https://unpkg.com/gojs@3.0.9/release/go.js"></script>
<p>
  This is a test plotmap using a skeleton of the GoJS Sample
  <a href="https://gojs.net/latest/samples/flowchart.html">flowchart.html</a>. It was automatically generated from a button on the sample page,
  and does not contain the full HTML. It is intended as a starting point to adapt for your own usage.
  For many samples, you may need to inspect the
  <a href="https://github.com/NorthwoodsSoftware/GoJS/blob/master/samples/flowchart.html">full source on Github</a>
  and copy other files or scripts.
</p>
<p>This provided sample plotmap template is styled from the classic
		eight-point plot arc as detailed in Nigel Watt's <em>Writing a Novel</em>. Use
		this as a starting point for your own plot map, or feel free to use
		another preferred plot structure.</p>
<div id="allSampleContent" class="p-4 w-full">
          
            
            
<link href="https://fonts.googleapis.com/css?family=Figtree:400,600&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<style>
  #hidden {
    font: 600 18px Figtree;
    opacity: 0;
  }
</style>

<script id="code">
  function init() {

    myDiagram = new go.Diagram('myDiagramDiv', {
      'undoManager.isEnabled': true, // enable undo & redo
      'themeManager.changesDivBackground': true,
      'themeManager.currentTheme': document.getElementById('theme').value
    });

    // when the document is modified, add a "*" to the title and enable the "Save" button
    myDiagram.addDiagramListener('Modified', (e) => {
      const button = document.getElementById('SaveButton');
      if (button) button.disabled = !myDiagram.isModified;
      const idx = document.title.indexOf('*');
      if (myDiagram.isModified) {
        if (idx < 0) document.title += '*';
      } else {
        if (idx >= 0) document.title = document.title.slice(0, idx);
      }
    });

    // set up some colors/fonts for the default ('light') and dark Themes
    myDiagram.themeManager.set('light', {
      colors: {
        text: '#fff',
        start: '#064e3b',
        step: '#49939e',
        conditional: '#6a9a8a',
        end: '#7f1d1d',
        comment: '#a691cc',
        bgText: '#000',
        link: '#dcb263',
        linkOver: '#cbd5e1',
        div: '#ede9e0'
      }
    });

    myDiagram.themeManager.set('dark', {
      colors: {
        text: '#fff',
        step: '#414a8d',
        conditional: '#88afa2',
        comment: '#bfb674',
        bgText: '#fff',
        link: '#fdb71c',
        linkOver: '#475569',
        div: '#141e37'
      }
    });

    defineFigures();

    // helper definitions for node templates
    function nodeStyle(node) {
      node
        // the Node.location is at the center of each node
        .set({ locationSpot: go.Spot.Center })
        // The Node.location comes from the "loc" property of the node data,
        // converted by the Point.parse static method.
        // If the Node.location is changed, it updates the "loc" property of the node data,
        // converting back using the Point.stringify static method.
        .bindTwoWay('location', 'loc', go.Point.parse, go.Point.stringify);
    }

    function shapeStyle(shape) {
      // make the whole node shape a port
      shape.set({ strokeWidth: 0, portId: '', cursor: 'pointer' });
    }

    function textStyle(textblock) {
      textblock.set({ font: 'bold 11pt Figtree, sans-serif' }).theme('stroke', 'text');
    }

    // define the Node templates for regular nodes
    myDiagram.nodeTemplateMap.add(
      '', // the default category
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('Rectangle', {
            fromLinkable: true,
            toLinkable: true,
            fromSpot: go.Spot.AllSides,
            toSpot: go.Spot.AllSides
          })
            .apply(shapeStyle)
            .theme('fill', 'step'),
          new go.TextBlock({
            margin: 12,
            maxSize: new go.Size(160, NaN),
            wrap: go.Wrap.Fit,
            editable: true
          })
            .apply(textStyle)
            .bindTwoWay('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Conditional',
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('Conditional', { fromLinkable: true, toLinkable: true }).apply(shapeStyle).theme('fill', 'conditional'),
          new go.TextBlock({
            margin: 8,
            maxSize: new go.Size(160, NaN),
            wrap: go.Wrap.Fit,
            textAlign: 'center',
            editable: true
          })
            .apply(textStyle)
            .bindTwoWay('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Start',
      new go.Node('Auto')
        .apply(nodeStyle)
        .add(
          new go.Shape('Capsule', { fromLinkable: true }).apply(shapeStyle).theme('fill', 'start'),
          new go.TextBlock('Start', { margin: new go.Margin(5, 6) }).apply(textStyle).bind('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'End',
      new go.Node('Auto')
        .apply(nodeStyle)
        .add(
          new go.Shape('Capsule', { toLinkable: true }).apply(shapeStyle).theme('fill', 'end'),
          new go.TextBlock('End', { margin: new go.Margin(5, 6) }).apply(textStyle).bind('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Comment',
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('File', { strokeWidth: 3 }).theme('fill', 'div').theme('stroke', 'comment'),
          new go.TextBlock({
            font: '9pt Figtree, sans-serif',
            margin: 8,
            maxSize: new go.Size(200, NaN),
            wrap: go.Wrap.Fit,
            textAlign: 'center',
            editable: true
          })
            .theme('stroke', 'bgText')
            .bindTwoWay('text')
          // no ports, because no links are allowed to connect with a comment
        )
    );

    // replace the default Link template in the linkTemplateMap
    myDiagram.linkTemplate = new go.Link({
      routing: go.Routing.AvoidsNodes,
      curve: go.Curve.JumpOver,
      corner: 5,
      toShortLength: 4,
      relinkableFrom: true,
      relinkableTo: true,
      reshapable: true,
      resegmentable: true,
      // mouse-overs subtly highlight links:
      mouseEnter: (e, link) => (link.findObject('HIGHLIGHT').stroke = link.diagram.themeManager.findValue('linkOver', 'colors')),
      mouseLeave: (e, link) => (link.findObject('HIGHLIGHT').stroke = 'transparent'),
      // context-click creates an editable link label
      contextClick: (e, link) => {
        e.diagram.model.commit((m) => {
          m.set(link.data, 'text', 'Label');
        });
      }
    })
      .bindTwoWay('points')
      .add(
        // the highlight shape, normally transparent
        new go.Shape({
          isPanelMain: true,
          strokeWidth: 8,
          stroke: 'transparent',
          name: 'HIGHLIGHT'
        }),
        // the link path shape
        new go.Shape({ isPanelMain: true, strokeWidth: 2 }).theme('stroke', 'link'),
        // the arrowhead
        new go.Shape({ toArrow: 'standard', strokeWidth: 0, scale: 1.5 }).theme('fill', 'link'),
        // the link label
        new go.Panel('Auto', { visible: false })
          .bind('visible', 'text', (t) => typeof t === 'string' && t.length > 0) // only shown if there is text
          .add(
            // a gradient that fades into the background
            new go.Shape('Ellipse', { strokeWidth: 0 }).theme('fill', 'div', null, null, (c) => {
              return new go.Brush(go.BrushType.Radial, {
                colorStops: new go.Map([
                  { key: 0, value: c },
                  { key: 0.5, value: `${c}00` }
                ])
              });
            }),
            new go.TextBlock({
              name: 'LABEL',
              font: '9pt Figtree, sans-serif',
              margin: 3,
              editable: true
            })
              .theme('stroke', 'bgText')
              .bindTwoWay('text')
          )
      );

    // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
    myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Routing.Orthogonal;
    myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Routing.Orthogonal;

    load(); // load an initial diagram from some JSON text

    // initialize the Palette that is on the left side of the page
    myPalette = new go.Palette('myPaletteDiv', {
      nodeTemplateMap: myDiagram.nodeTemplateMap, // share the templates used by myDiagram
      themeManager: myDiagram.themeManager, // share the ThemeManager used by myDiagram
      model: new go.GraphLinksModel([
        // specify the contents of the Palette
        { category: 'Start', text: 'Start' },
        { text: 'Step' },
        { category: 'Conditional', text: '???' },
        { category: 'End', text: 'End' },
        { category: 'Comment', text: 'Comment' }
      ])
    });
  } // end init

  // define some custom shapes for node templates
  function defineFigures() {
    go.Shape.defineFigureGenerator('Conditional', (shape, w, h) => {
      const geo = new go.Geometry();
      const fig = new go.PathFigure(w * 0.15, 0, true);
      geo.add(fig);
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.85, 0));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, 0.5 * h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.85, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.15, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, 0, 0.5 * h).close());
      geo.spot1 = new go.Spot(0.15, 0);
      geo.spot2 = new go.Spot(0.85, 1);
      return geo;
    });

    // taken from https://unpkg.com/create-gojs-kit@3.0.9/dist/extensions/Figures.js:
    go.Shape.defineFigureGenerator('File', (shape, w, h) => {
      const geo = new go.Geometry();
      const fig = new go.PathFigure(0, 0, true); // starting point
      geo.add(fig);
      fig.add(new go.PathSegment(go.SegmentType.Line, 0.75 * w, 0));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, 0.25 * h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, 0, h).close());
      const fig2 = new go.PathFigure(0.75 * w, 0, false);
      geo.add(fig2);
      // The Fold
      fig2.add(new go.PathSegment(go.SegmentType.Line, 0.75 * w, 0.25 * h));
      fig2.add(new go.PathSegment(go.SegmentType.Line, w, 0.25 * h));
      geo.spot1 = new go.Spot(0, 0.25);
      geo.spot2 = go.Spot.BottomRight;
      return geo;
    });
  }

  // Show the diagram's model in JSON format that the user may edit
  function save() {
    document.getElementById('mySavedModel').value = myDiagram.model.toJson();
    myDiagram.isModified = false;
  }
  function load() {
    myDiagram.model = go.Model.fromJson(document.getElementById('mySavedModel').value);
  }

  // print the diagram by opening a new window holding SVG images of the diagram contents for each page
  function printDiagram() {
    const svgWindow = window.open();
    if (!svgWindow) return; // failure to open a new Window
    svgWindow.document.title = "GoJS Flowchart";
    svgWindow.document.body.style.margin = "0px";
    const printSize = new go.Size(700, 960);
    const bnds = myDiagram.documentBounds;
    let x = bnds.x;
    let y = bnds.y;
    while (y < bnds.bottom) {
      while (x < bnds.right) {
        const svg = myDiagram.makeSvg({
          scale: 1.0,
          position: new go.Point(x, y),
          size: printSize,
          background: myDiagram.themeManager.findValue('div', 'colors')
        });
        svgWindow.document.body.appendChild(svg);
        x += printSize.width;
      }
      x = bnds.x;
      y += printSize.height;
    }
    setTimeout(() => { svgWindow.print(); svgWindow.close(); }, 1);
  }

  function changeTheme() {
    const myDiagram = go.Diagram.fromDiv('myDiagramDiv');
    if (myDiagram) {
      myDiagram.themeManager.currentTheme = document.getElementById('theme').value;
    }
  }

  window.addEventListener('DOMContentLoaded', () => {
    // setTimeout only to ensure font is loaded before loading diagram
    // you may want to use an asset loading library for this
    // to keep this sample simple, it does not
    setTimeout(() => {
      init();
    }, 300);
  });
</script>

<div id="sample">
  <div class="sampleWrapper">
    <div style="width: 100%; height: fit-content; display: flex; flex: 2">
      <div id="myPaletteDiv" style="width: 100px; margin-right: 2px"></div>
      <div id="myDiagramDiv" style="flex-grow: 1; height: 810px"></div>
    </div>
    <div style="flex: 1; min-width: 425px">
      Theme:
      <select id="theme" onchange="changeTheme()">
        <option value="system">System</option>
        <option value="light">Light</option>
        <option value="dark" selected="">Dark</option>
      </select>
      <button onclick="printDiagram()">Print Diagram Using SVG</button>
      <br>
      <button id="SaveButton" onclick="save()">Save</button>
      <button onclick="load()">Load</button>
      Diagram Model saved in JSON format:
      <textarea id="mySavedModel" style="width: 100%; height: 375px">{ "class": "GraphLinksModel",
		"nodeDataArray": [
			{"category":"Comment","text":"Add comments about\nthe plot here.","key":-4,"loc":"107. -7.4"},
			{"category":"Start","text":"Start","key":-2,"loc":"-131 -6"},
			{"text":"Stasis","key":-3,"loc":"-29 -6"},
			{"text":"Trigger","key":-5,"loc":"17.5 69.58"},
			{"text":"The Quest","key":-6,"loc":"67.3650890531994 145.8095238095238"},
			{"text":"Surprise","key":-7,"loc":"129 219"},
			{"category":"Conditional","text":"Critical Choice","key":-8,"loc":"180.5 302"},
			{"text":"Climax","key":-9,"loc":"230.7 390.6"},
			{"text":"Reversal","key":-10,"loc":"305.6 463.5"},
			{"text":"Resolution","key":-11,"loc":"377 546"},
			{"category":"End","text":"End","key":-12,"loc":"378 623"},
			{"category":"Comment","text":"Zoom in and out to add more space for the map","key":-13,"loc":"286 142"},
			{"category":"Comment","text":"Add and edit points on the map as you develop your plot!","key":-14,"loc":"-77 255.7"}
		],
		"linkDataArray": [
			{"from":-3,"to":-5,"points":[-29.238084338960178,13.76117590041384,-29.238084338960178,23.76117590041384,-29.238084338960178,31.617058890206433,17.746021089099756,31.617058890206433,17.746021089099756,39.47294187999903,17.746021089099756,49.47294187999903]},
			{"from":-2,"to":-3,"points":[-98.35791815317363,-6.240063621884307,-88.35791815317363,-6.240063621884307,-79.70283980807862,-6.240063621884307,-79.70283980807862,-6.367057436988503,-71.04776146298362,-6.367057436988503,-61.047761462983615,-6.367057436988503]},
			{"from":-5,"to":-6,"points":[17.5,89.70823333740233,17.5,99.70823333740233,17.5,107.69476190476189,67.3650890531994,107.69476190476189,67.3650890531994,115.68129047212145,67.3650890531994,125.68129047212145]},
			{"from":-6,"to":-7,"points":[67.3650890531994,165.93775714692612,67.3650890531994,175.93775714692612,67.3650890531994,182.40476190476187,129,182.40476190476187,129,188.87176666259765,129,198.87176666259765]},
			{"from":-7,"to":-8,"points":[129.11115955171135,239.26907650175553,129.11115955171135,249.26907650175553,129.11115955171135,262.5694095066616,180.53970336914068,262.5694095066616,180.53970336914068,275.86974251156767,180.53970336914068,285.86974251156767]},
			{"from":-8,"to":-9,"points":[180.53970336914068,318.12620918637236,180.53970336914068,328.12620918637236,180.53970336914068,344.32339350382495,230.6666477748326,344.32339350382495,230.6666477748326,360.52057782127747,230.6666477748326,370.52057782127747]},
			{"from":-9,"to":-10,"points":[230.6666477748326,410.77704449608217,230.6666477748326,420.77704449608217,230.6666477748326,427.06946091424857,305.5555855887278,427.06946091424857,305.5555855887278,433.3618773324149,305.5555855887278,443.3618773324149]},
			{"from":-10,"to":-11,"points":[305.5555855887278,483.6183440072196,305.5555855887278,493.6183440072196,305.5555855887278,504.7281812032064,377.3016851515997,504.7281812032064,377.3016851515997,515.8380183991932,377.3016851515997,525.8380183991932]},
			{"from":-11,"to":-12,"points":[377.3016851515997,566.0944850739978,377.3016851515997,576.0944850739978,377.3016851515997,585.0450663979532,377.65077427455356,585.0450663979532,377.65077427455356,593.9956477219084,377.65077427455356,603.9956477219084]}
			]}
      </textarea>
      <p id="hidden" style="padding: 0; height: 0px">this forces the font to load in Chromium browsers</p>
    </div>
  </div>
</div>

<style>
  .sampleWrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 1280px) {
      flex-direction: row;
    }

    & > div:first-child {
      margin-bottom: 0.5rem;

      @media (min-width: 1280px) {
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
</style>
        </div>
</body>

<!-- This is the character framily tree template -->
 

    <title>
      Family Tree | GoJS
    </title>
  </head>

  <body>

<script>
  window.addEventListener("DOMContentLoaded", function () {
    // topnav
    var topButton = document.getElementById("topnavButton");
    var topnavList = document.getElementById("topnavList");
    if (topButton && topnavList) {
      topButton.addEventListener("click", function (e) {
        topnavList
          .classList
          .toggle("hidden");
        e.stopPropagation();
      });
      document.addEventListener("click", function (e) {
        // if the clicked element isn't the list, close the list
        if (!topnavList.classList.contains("hidden") && !e.target.closest("#topnavList")) {
          topButton.click();
        }
      });

      // set active <a> element
      var url = window
        .location
        .href
        .toLowerCase();
      var aTags = topnavList.getElementsByTagName('a');
      for (var i = 0; i < aTags.length; i++) {
        var lowerhref = aTags[i]
          .href
          .toLowerCase();
        if (url.startsWith(lowerhref)) {
          aTags[i]
            .classList
            .add('active');
          break;
        }
      }
    }
  });
</script>

</html>
