
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Text Editor</title>
	    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
		<link href="/styles.css" rel="stylesheet" />
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
		<link
	  		rel="stylesheet"
	  		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
		/>
		<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
		<script src="https://unpkg.com/gojs/release/go.js"></script>
    <style>
			body {
			   background-color: #f5f5f5;
			   margin: 0;
			   padding: 0;
			}
			.dashboard {
			   background-color: #5926db;
			   color: #fff;
			   padding: 20px;
			   text-align: center;
			}
			
			.dashboard_title {
			   font-size: 24px;
			   margin-top: 0;
			}
			
			.navigation {
			   text-align: center;
			   color: white;
			}

			.sampleWrapper {
				display: flex;
				flex-direction: column;
			}

			@media (min-width: 1280px) {
				.sampleWrapper {
					flex-direction: row;
				}
			}
        #myDiagramDIV {
            width: 60%;
            height: 400px;
            border: solid 1px black;
            float: left;
        }
        #myPaletteDIV {
            width: 10%;
            height: 400px;
            border: solid 1px black;
            float: left;
        }
        .form-container {
            clear: both;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
		<header>
			<div class="dashboard">
		  		<h1 class="dashboard_title">Writing App</h1>
				  <div class="navigation">
				  	<span style="color: white;"><a th:href="@{/home}"><button>Home</button></a></span>
				   	<span sec:authorize="isAuthenticated" style="color: white;"><a th:href="@{/logout}"><button>Logout</button></a></span>
				  </div>
			 </div>
		 </header>
		 
    <div class="form-container">
		<form action="#" th:action="@{/editor}" th:object="${editor}" method="post" id="kform">
 	    	<input type="hidden" id="userId" name="userId" th:field="*{userId}" /> <!-- hidden field for User ID -->
            
            <!--  Quill Editor -->
			<div>
					<p><label for="idea-editor">Character Notes:</label></p>
					<div id="idea-toolbar">
						<span class="ql-formats">
			    			<select class="ql-font"></select>
			    			<select class="ql-size"></select>
			  			</span>
			  			<span class="ql-formats">
			    			<button class="ql-bold"></button>
			    			<button class="ql-italic"></button>
			    			<button class="ql-underline"></button>
			    			<button class="ql-strike"></button>
			  			</span>
			  			<span class="ql-formats">
			    			<select class="ql-color"></select>
			    			<select class="ql-background"></select>
			  			</span>
			  			<span class="ql-formats">
			    			<button class="ql-script" value="sub"></button>
							<button class="ql-script" value="super"></button>
						</span>
			 			<span class="ql-formats">
							<button class="ql-header" value="1"></button>
							<button class="ql-header" value="2"></button>
							<button class="ql-blockquote"></button>
							<button class="ql-code-block"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-list" value="ordered"></button>
							<button class="ql-list" value="bullet"></button>
							<button class="ql-indent" value="-1"></button>
							<button class="ql-indent" value="+1"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-direction" value="rtl"></button>
							<select class="ql-align"></select>
						</span>
						<span class="ql-formats">
							<button class="ql-link"></button>
							<button class="ql-image"></button>
							<button class="ql-video"></button>
							<button class="ql-formula"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-clean"></button>
						</span>
					</div>
					<div id="idea-editor" style="height:200px;"></div>
		 			<input type="hidden" id="idea" name="idea" th:field="*{idea}" />
				</div>
            
            <!-- Quill Summary Editor -->
			<div>
					<p><label for="summary-editor">Story Editor:</label></p>
					<div id="summary-toolbar">
						<span class="ql-formats">
			    			<select class="ql-font"></select>
			    			<select class="ql-size"></select>
			  			</span>
			  			<span class="ql-formats">
			    			<button class="ql-bold"></button>
			    			<button class="ql-italic"></button>
			    			<button class="ql-underline"></button>
			    			<button class="ql-strike"></button>
			  			</span>
			  			<span class="ql-formats">
			    			<select class="ql-color"></select>
			    			<select class="ql-background"></select>
			  			</span>
			  			<span class="ql-formats">
			    			<button class="ql-script" value="sub"></button>
							<button class="ql-script" value="super"></button>
						</span>
			 			<span class="ql-formats">
							<button class="ql-header" value="1"></button>
							<button class="ql-header" value="2"></button>
							<button class="ql-blockquote"></button>
							<button class="ql-code-block"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-list" value="ordered"></button>
							<button class="ql-list" value="bullet"></button>
							<button class="ql-indent" value="-1"></button>
							<button class="ql-indent" value="+1"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-direction" value="rtl"></button>
							<select class="ql-align"></select>
						</span>
						<span class="ql-formats">
							<button class="ql-link"></button>
							<button class="ql-image"></button>
							<button class="ql-video"></button>
							<button class="ql-formula"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-clean"></button>
						</span>
					</div>
					<div id="summary-editor" style="height:200px;"></div>
					<input type="hidden" id="summary" name="summary" th:field="*{summary}" />
				</div>


            <!-- Hidden field for GoJS diagram data -->
            <input type="hidden" id="diagramData" name="diagramData">

			<div id="myPaletteDIV"></div>
			<div id="myDiagramDIV"></div>

            <div style="clear:both;margin-top: 20px;">
                <input type="submit" value="Submit">
            </div>

        </form>
    </div>

    <script>    
    
  function init() {

    myDiagram = new go.Diagram('myDiagramDIV', {
      'undoManager.isEnabled': true // enable undo & redo
    });

    // when the document is modified, add a "*" to the title and enable the "Save" button
    myDiagram.addDiagramListener('Modified', (e) => {
      const button = document.getElementById('SaveButton');
      if (button) button.disabled = !myDiagram.isModified;
      const idx = document.title.indexOf('*');
      if (myDiagram.isModified) {
        if (idx < 0) document.title += '*';
      } else {
        if (idx >= 0) document.title = document.title.slice(0, idx);
      }
    });

    // set up some colors/fonts for the default ('light') and dark Themes
    myDiagram.themeManager.set('light', {
      colors: {
        text: '#fff',
        start: '#064e3b',
        step: '#49939e',
        conditional: '#6a9a8a',
        end: '#7f1d1d',
        comment: '#a691cc',
        bgText: '#000',
        link: '#dcb263',
        linkOver: '#cbd5e1',
        div: '#ede9e0'
      }
    });	
	
    defineFigures();

    // helper definitions for node templates
    function nodeStyle(node) {
      node
        // the Node.location is at the center of each node
        .set({ locationSpot: go.Spot.Center })
        // The Node.location comes from the "loc" property of the node data,
        // converted by the Point.parse static method.
        // If the Node.location is changed, it updates the "loc" property of the node data,
        // converting back using the Point.stringify static method.
        .bindTwoWay('location', 'loc', go.Point.parse, go.Point.stringify);
    }

    function shapeStyle(shape) {
      // make the whole node shape a port
      shape.set({ strokeWidth: 0, portId: '', cursor: 'pointer' });
    }

    function textStyle(textblock) {
      textblock.set({ font: 'bold 11pt Figtree, sans-serif' }).theme('stroke', 'text');
    }

    // define the Node templates for regular nodes
    myDiagram.nodeTemplateMap.add(
      '', // the default category
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('Rectangle', {
            fromLinkable: true,
            toLinkable: true,
            fromSpot: go.Spot.AllSides,
            toSpot: go.Spot.AllSides
          })
            .apply(shapeStyle)
            .theme('fill', 'step'),
          new go.TextBlock({
            margin: 12,
            maxSize: new go.Size(160, NaN),
            wrap: go.Wrap.Fit,
            editable: true
          })
            .apply(textStyle)
            .bindTwoWay('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Conditional',
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('Conditional', { fromLinkable: true, toLinkable: true }).apply(shapeStyle).theme('fill', 'conditional'),
          new go.TextBlock({
            margin: 8,
            maxSize: new go.Size(160, NaN),
            wrap: go.Wrap.Fit,
            textAlign: 'center',
            editable: true
          })
            .apply(textStyle)
            .bindTwoWay('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Start',
      new go.Node('Auto')
        .apply(nodeStyle)
        .add(
          new go.Shape('Capsule', { fromLinkable: true }).apply(shapeStyle).theme('fill', 'start'),
          new go.TextBlock('Start', { margin: new go.Margin(5, 6) }).apply(textStyle).bind('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'End',
      new go.Node('Auto')
        .apply(nodeStyle)
        .add(
          new go.Shape('Capsule', { toLinkable: true }).apply(shapeStyle).theme('fill', 'end'),
          new go.TextBlock('End', { margin: new go.Margin(5, 6) }).apply(textStyle).bind('text')
        )
    );

    myDiagram.nodeTemplateMap.add(
      'Comment',
      new go.Node('Auto').apply(nodeStyle)
        .add(
          new go.Shape('File', { strokeWidth: 3 }).theme('fill', 'div').theme('stroke', 'comment'),
          new go.TextBlock({
            font: '9pt Figtree, sans-serif',
            margin: 8,
            maxSize: new go.Size(200, NaN),
            wrap: go.Wrap.Fit,
            textAlign: 'center',
            editable: true
          })
            .theme('stroke', 'bgText')
            .bindTwoWay('text')
          // no ports, because no links are allowed to connect with a comment
        )
    );

    // replace the default Link template in the linkTemplateMap
    myDiagram.linkTemplate = new go.Link({
      routing: go.Routing.AvoidsNodes,
      curve: go.Curve.JumpOver,
      corner: 5,
      toShortLength: 4,
      relinkableFrom: true,
      relinkableTo: true,
      reshapable: true,
      resegmentable: true,
      // mouse-overs subtly highlight links:
      mouseEnter: (e, link) => (link.findObject('HIGHLIGHT').stroke = link.diagram.themeManager.findValue('linkOver', 'colors')),
      mouseLeave: (e, link) => (link.findObject('HIGHLIGHT').stroke = 'transparent'),
      // context-click creates an editable link label
      contextClick: (e, link) => {
        e.diagram.model.commit((m) => {
          m.set(link.data, 'text', 'Label');
        });
      }
    })
      .bindTwoWay('points')
      .add(
        // the highlight shape, normally transparent
        new go.Shape({
          isPanelMain: true,
          strokeWidth: 8,
          stroke: 'transparent',
          name: 'HIGHLIGHT'
        }),
        // the link path shape
        new go.Shape({ isPanelMain: true, strokeWidth: 2 }).theme('stroke', 'link'),
        // the arrowhead
        new go.Shape({ toArrow: 'standard', strokeWidth: 0, scale: 1.5 }).theme('fill', 'link'),
        // the link label
        new go.Panel('Auto', { visible: false })
          .bind('visible', 'text', (t) => typeof t === 'string' && t.length > 0) // only shown if there is text
          .add(
            // a gradient that fades into the background
            new go.Shape('Ellipse', { strokeWidth: 0 }).theme('fill', 'div', null, null, (c) => {
              return new go.Brush(go.BrushType.Radial, {
                colorStops: new go.Map([
                  { key: 0, value: c },
                  { key: 0.5, value: `${c}00` }
                ])
              });
            }),
            new go.TextBlock({
              name: 'LABEL',
              font: '9pt Figtree, sans-serif',
              margin: 3,
              editable: true
            })
              .theme('stroke', 'bgText')
              .bindTwoWay('text')
          )
      );

    // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
    myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Routing.Orthogonal;
    myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Routing.Orthogonal;

    // initialize the Palette that is on the left side of the page
    myPalette = new go.Palette('myPaletteDIV', {
      nodeTemplateMap: myDiagram.nodeTemplateMap, // share the templates used by myDiagram
      themeManager: myDiagram.themeManager, // share the ThemeManager used by myDiagram
      model: new go.GraphLinksModel([
        // specify the contents of the Palette
        { category: 'Start', text: 'Start' },
        { text: 'Step' },
        { category: 'Conditional', text: '???' },
        { category: 'End', text: 'End' },
        { category: 'Comment', text: 'Comment' }
      ])
    });
  } // end init

  // define some custom shapes for node templates
  function defineFigures() {
    go.Shape.defineFigureGenerator('Conditional', (shape, w, h) => {
      const geo = new go.Geometry();
      const fig = new go.PathFigure(w * 0.15, 0, true);
      geo.add(fig);
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.85, 0));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, 0.5 * h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.85, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w * 0.15, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, 0, 0.5 * h).close());
      geo.spot1 = new go.Spot(0.15, 0);
      geo.spot2 = new go.Spot(0.85, 1);
      return geo;
    });

    // taken from ../extensions/Figures.js:
    go.Shape.defineFigureGenerator('File', (shape, w, h) => {
      const geo = new go.Geometry();
      const fig = new go.PathFigure(0, 0, true); // starting point
      geo.add(fig);
      fig.add(new go.PathSegment(go.SegmentType.Line, 0.75 * w, 0));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, 0.25 * h));
      fig.add(new go.PathSegment(go.SegmentType.Line, w, h));
      fig.add(new go.PathSegment(go.SegmentType.Line, 0, h).close());
      const fig2 = new go.PathFigure(0.75 * w, 0, false);
      geo.add(fig2);
      // The Fold
      fig2.add(new go.PathSegment(go.SegmentType.Line, 0.75 * w, 0.25 * h));
      fig2.add(new go.PathSegment(go.SegmentType.Line, w, 0.25 * h));
      geo.spot1 = new go.Spot(0, 0.25);
      geo.spot2 = go.Spot.BottomRight;
      return geo;
    });
  }

  window.addEventListener('DOMContentLoaded', () => {
    
    			// intialize quill editors
			const ideaQuill = new Quill('#idea-editor', {
		    	modules: {
		        	syntax: true,
		        	toolbar: '#idea-toolbar',
		      	},
		    	theme: 'snow',
		    });
		    		    		    		
		    const summaryQuill = new Quill('#summary-editor', {
		    	modules: {
		        	syntax: true,
		        	toolbar: '#summary-toolbar',
		      	},
		    	theme: 'snow',
		    });
		  	
		  	// Populate Quill editors and diagram with initial content
			const ideaContent = document.querySelector('#idea').value; 
			const summaryContent = document.querySelector('#summary').value;
			const diagramContent = document.querySelector('#diagramData').value; // Changed from '#diagram.JSON'
		   
			if (ideaContent) {
                ideaQuill.root.innerHTML = ideaContent;
            }
            if (summaryContent) {
                summaryQuill.root.innerHTML = summaryContent;
            }
           if (diagramContent) {
                summaryQuill.root.innerHTML = summaryContent;
            }
			if (diagramContent) {
      			diagram.model = go.Model.fromJson(diagramContent);
			}
		  	
		  	// Save Quill content to hidden fields on form submission
		  	document.querySelector('form').onsubmit = () => {
            	document.querySelector('#idea').value = ideaQuill.root.innerHTML;
                document.querySelector('#summary').value = summaryQuill.root.innerHTML;
      			document.querySelector('#diagramData').value = myDiagram.model.toJson();
            };
    
    // setTimeout only to ensure font is loaded before loading diagram
    // you may want to use an asset loading library for this
    // to keep this sample simple, it does not
    setTimeout(() => {
      init();
    }, 300);
  });
  
    </script>
</body>
</html>
