<!-- Dashboard for Users -->

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		
		<!-- Link to bookshelf CSS file -->
	    <link rel="stylesheet" th:href="@{/assets/css/bookshelf.css}"/>
	    
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

							<!-- Logo -->
								<h1 id="logo"><a th:href="@{/home}">Write Simply</a></h1>
	
							<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">Bookshelf</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a th:href="@{/home}">Home</a></li>
									<li class="break"><a th:href="@{/logout}">Logout</a></li>
									<li><a onclick="window.location.href='/editor-new'" class="button">New Story</a></li>
								</ul>
							</nav>
	
					</div>
	
						<!-- Hero -->
							<section id="hero" class="container">
								<header>
									<h2>Welcome, <span th:text="${userdetail.fullname}" class="dashboard_user_name">User</span>.</h2>
								</header>
								<br />
								<ul class="actions">
									<li><a onclick="window.location.href='/editor-new'" class="button">Write a New Story</a></li>
								</ul>
							</section>
				</div>

			<!-- Bookshelf -->
				<div id="wrapper" class="container">
						<header class="major">
							<br>
							<br>
							<h2>My Bookshelf:</h2>
						</header>
						
				        <div class="bookshelf">
				            <ul>
					            <li th:each="editor : ${editors}" class="book-item">
						        	<a th:href="@{/editor(id=${editor.storyId})}"
						        	class="button book-icon"
						        	th:text="${editor.storyTitle}">Story Title</a>
						        </li>
				            </ul>
				        </div>
				        <br>
				        <br>
				        <br>
				</div>
		</div>
		
		 			<!-- Footer -->
				<div id="footer-wrapper">
				</div>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
			<script th:src="@{/assets/js/browser.min.js}"></script>
			<script th:src="@{/assets/js/breakpoints.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<script th:src="@{/assets/js/main.js}"></script>

	</body>
</html>