<!DOCTYPE html>
<html>

<head>
		<title>Register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	</head>
	<body class="register is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a th:href="@{/writeSimply}">Write Simply</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">Bookshelf</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a th:href="@{/register}">Register</a></li>
									<li class="break"><a th:href="@{/login}">Login</a></li>
									<li><a href="#"></a></li>
								</ul>
							</nav>

					</div>
				</div>
				
			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">

						<!-- Content -->
							<article id="content">
								<header>
									<h2>Create an Account:</h2>
									<p>Register below to create your Write Simply account.</p>
								</header>
				
 <div class="form-container">
		
		  <div th:if="${param.success}">
		   <div class="success-message">
		    <p>Registration Successful! Please Check your email to verify your account.</p>
		   </div>
		  </div>
		
		  <h2>Registration:</h2>
		  <form th:action="@{/register}" method="post" role="form" th:object="${user}">
		
			<br>
		   <label for="fullname">First Name:</label>
		   <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Please enter your name..."
		    required>
		
		   <label for="username">Username:</label>
		   <input th:field="*{username}" type="text" id="username" name="username" placeholder="Please create a Username..."
		    required>
		
		   <label for="password">Password:</label>
		   <input th:field="*{password}" type="password" id="password" name="password"
		    placeholder="Please create a Password..." required>
		    
		    <label for="email">Email:</label>
		    <input th:field="*{email}" type="email" id="email" name="email" placeholder="Please enter your email..."
		    required>
			<br>
		   <button type="submit">Register</button>
		  </form>
		  <br>
		  <div>
		   <span th:if="${Userexist}" style="color: red;">This username is already taken.</span>
		  </div>
		  <div>
		   <span class="form-footer">Already have an account? <a th:href="@{/login}">Login</a> here.</span>
		  </div>
 </div>
 
 </article>
 </div>
 </div>
 
 			<!-- Footer -->
				<div id="footer-wrapper">
				</div>
 
 </div>
 
</body>

</html>